$main-text: #545454;
$grey-text: #4c4c4c;
$black-text: #292929;
$beige-text: #f1cdb3;
$white-text: #ffffff;

$text-font: 'Georgia', sans-serif, Arial;
$second-font: Arial, sans-serif;
$text-size: 15px;
$text-height: 1.6;
$text-weight: 400;

$title-size: 35px;
$title-height: 1.29;
