<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    <style>
      .row-template {
        margin-bottom: 20px 0;
      }
    </style>

    <div class="wrapper">
      <div class="container">
        <div class="row-template">
          <input type="text" placeholder="Enter text" />
        </div>
        <div class="row-template">
          <label class="checkbox">
            <input type="checkbox" />
            <span>I'm checkbox</span>
          </label>
        </div>
        <div class="row-template">
          <label class="checkbox">
            <input type="checkbox" checked />
            <span>I'm checkbox</span>
          </label>
        </div>
        <button class="btn btn--border">BTN</button>
      </div>
    </div>

    @@include("../blocks/modules/footer/footer.html")
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
  </body>
</html>
