@font-face {
  font-family: 'Georgia';
  src: url("../fonts/Georgia.woff2") format("woff2"), url("../fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: all 0.2s;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline;
}

html {
  height: 100%;
}

body {
  margin: 0;
  color: #545454;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  font-family: "Georgia", sans-serif, Arial;
  background-color: gray;
  height: 100%;
  min-width: 320px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
}

.caption {
  display: block;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 2px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 52px;
  border: 2px solid #f1cdb3;
  background-color: #f1cdb3;
  text-align: center;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 17px;
  line-height: 1.2;
  font-family: "Georgia", sans-serif, Arial;
  color: #292929;
  border-radius: 30px;
  letter-spacing: 1.1px;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: transparent;
  color: #f1cdb3;
}

.btn--border {
  background-color: transparent;
}

.btn--border:hover {
  background-color: #f1cdb3;
  color: #545454;
}

input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-family: "Georgia", sans-serif, Arial;
  transition: all 0.2s;
}

input:focus {
  border-color: #000000;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + span {
  position: relative;
  padding-left: 20px;
}

input[type='checkbox'] + span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: red;
}

input[type='checkbox']:checked + span::after {
  content: '';
  position: absolute;
  top: 6px;
  left: 4px;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  height: 5px;
  width: 10px;
  transform: rotate(-45deg);
}

.heading {
  height: 100%;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.heading__wrap {
  min-height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.heading__inner {
  max-width: 455px;
}

.heading__caption {
  display: block;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 2.8px;
  color: #ffffff;
  max-width: 360px;
  margin-bottom: 25px;
}

.heading__descr {
  color: #cdcdcd;
  margin-bottom: 40px;
  font-family: Arial, sans-serif;
  letter-spacing: -0.2px;
}

.heading__btn {
  width: 205px;
}

.header {
  padding-top: 55px;
  height: 120px;
}

.header__btn-menu {
  display: none;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-title {
  display: block;
  color: #f1cdb3;
  font-size: 32px;
  letter-spacing: 1.8px;
  line-height: normal;
}

.header__logo-text {
  display: block;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 1.4px;
  line-height: normal;
  margin-top: 5px;
  margin-left: 2px;
}

.header__nav-item {
  margin-right: 36px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-item a {
  font-family: 'Arial', sans-serif;
  color: #cdcdcd;
  font-size: 15px;
  letter-spacing: -0.15px;
  position: relative;
}

.header__nav-item a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  bottom: -8px;
  background-color: #f1cdb3;
  transition: all 0.2s;
}

.header__nav-item a:hover {
  color: #ffffff;
}

.header__nav-item a:hover::after {
  content: '';
  width: 100%;
}

.header__nav-item.active a {
  color: #ffffff;
  position: relative;
  transition: 0.2s;
}

.header__nav-item.active a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -8px;
  background-color: #f1cdb3;
}

.our-friends {
  padding: 70px 0;
  background-color: #f6f6f6;
}

.our-friends__caption {
  text-align: center;
  max-width: 420px;
  margin: 0 auto 60px;
}

.our-friends__wrap {
  margin-bottom: 60px;
}

.our-friends__btn {
  width: 265px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .heading {
    background-position: 15% 50%;
  }

  .heading__wrap {
    min-height: calc(100vh - 80px);
  }

  .heading__caption {
    font-size: 35px;
  }

  .header {
    padding-top: 15px;
    height: 80px;
  }

  .header__logo-title {
    font-size: 24px;
  }

  .header__logo-text {
    font-size: 10px;
  }

  .header__btn-menu {
    display: block;
    width: 20px;
    height: 15px;
    position: relative;
    z-index: 999;
  }

  .header__btn-menu span {
    height: 2px;
    background-color: #ffffff;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    transition: all 0.2s;
  }

  .header__btn-menu span:nth-child(1) {
    top: 0;
  }

  .header__btn-menu span:nth-child(2) {
    top: 6px;
  }

  .header__btn-menu span:nth-child(3) {
    top: 12px;
  }

  .header__btn-menu.active span:nth-child(1) {
    top: 6px;
    transform: rotate(-45deg);
  }

  .header__btn-menu.active span:nth-child(2) {
    display: none;
  }

  .header__btn-menu.active span:nth-child(3) {
    top: 6px;
    transform: rotate(45deg);
  }

  .header__nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000000;
  }

  .header__nav.active {
    display: flex;
  }

  .header__nav-list {
    padding: 40px 0;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__nav-item {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__nav-item:last-child {
    margin-bottom: 0;
  }

  .header__nav-item a {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .heading__caption {
    font-size: 28px;
  }

  .heading__descr {
    font-size: 14px;
  }
}
/*# sourceMappingURL=maps/main.css.map */
