.modal {
  background-color: #fafafa;
  position: fixed;
  top: -100%;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include trs;

  &.active {
    top: 0;

    .modal {
      &__img {
        transform: scale(1);
      }

      &__name {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  &__outer {
    height: 100%;
    padding: 15px;
  }

  &__wrap {
    max-width: 1028px;
    padding: 58px 58px 0 0;
    position: relative;
    margin-bottom: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    @include b(tablet) {
      padding: 0;
    }
  }

  &__close-btn {
    width: 50px;
    height: 50px;
    border: 2px solid $beige-text;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    @include trs;

    &:hover {
      background-color: $beige-text;
    }
  }

  &__content {
    display: flex;
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 2px 30px 5px rgba(13, 13, 13, 0.04);
    border-radius: 9px;
    max-width: 970px;
    padding: 40px 15px;

    @include b(mobile) {
      display: block;
    }
    @include b(480) {
      padding: 48px 15px;
    }
  }

  &__img {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: 2s;

    // @include b(mobile) {
    //   width: 100%;
    //   margin-bottom: 30px;
    // }

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }

  &__info {
    width: 55%;
    padding-left: 30px;

    @include b(mobile) {
      width: 100%;
      padding-left: 0;
    }
  }

  &__name {
    display: block;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s;
  }

  &__type {
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__descr {
    font-family: $second-font;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  &__item {
    position: relative;
    font-size: 17px;
    padding-left: 12px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 7px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $beige-text;
    }

    span {
      font-size: 15px;
      font-family: $second-font;
    }
  }
}
